html {
    height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	width: 100%;
	height: 100%;
}
@media (min-device-width : 480px)
{
	body {
		font-size: large;
	}
}

#top_nav {
	width: 100%;
	height: 15%;
}

#page_content {
	width: 100%;
	height: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#footer {
	width: 100%;
	height: 15%;
}

.Table-style {
	border: 2px solid #333333;
	background-color: #C5D8D8;
	width: 100%;
	border: thin solid #000000;
}

.Header-footer,.BackButton{
	width: 100%;
	height: 100%;
	font-size: large;
	font-weight: bold;
}

.BackButton {
	background-color: #9286D6;
	background-image: url("back_button.png"); 
	background-repeat: no-repeat;
	background-position: center;	
}